/*! probably should refactor sometime maybe... */
/* Title Header */

#title > * {
    max-height: 100px;
}

#title img {
    max-width: 100px;
    max-height: 100px;
}

#title hr {
    margin: 0;
    border: 0;
    width: 100%;
    border-top: 5px solid #000000;
}

#title h1:hover {
    color: #5e5e5e
}

#title a {
    text-decoration: none;
    color: black;
}

@media (max-width: 576px) {
    #title img {
        max-width: 75px;
        max-height: 75px;
    }

    #title h1 {
        margin-bottom: 0px;
    }
}

/* Sign Up Button */
#sign-up {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    #sign-up {
        font-size: 1.25em;
        width: 80%;
    }
}

@media (max-width: 576px) {
    #sign-up {
        font-size: 1em;
        width: 70%;
    }

}

/* Character Creation */

#name input {
    text-align: center;
}

#create img {
	max-width: 350px;
	max-height: 350px;
}

#create .col-2 .row div {
	width: 75px;
	height: 75px;
	margin-bottom: 10px;
	outline: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#create #selections {
    display: none;
    flex-wrap: wrap;
    z-index: 1;
    width: 275px;
    outline: none;

    /* sets any selection to always show up in the middle */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#create .row {
    /* over-ride bootstrap's default margin */
    /* messes with flex-end and flex-start */
    margin: 0;
}

#create #selections div{
    background: white;
}

#create p {
    /* so box is still clickable */
    margin: 0;
    position: relative;
    z-index: -100;
}

@media (max-width: 768px) {

    #create img {
        max-width: 200px;
        max-height: 200px;
    }

    #create .col-2 .row div {
        width: 50px;
        height: 50px;
    }

    #create #selections {
        width: 175px;
    }

    #create p {
        font-size: .7em;
    }

    #name input::placeholder {
        font-size: 0em;
    }
}

@media (max-width: 576px) {

    #create img {
        max-width: 150px;
        max-height: 150px;
    }

    #create .col-2 .row div {
        width: 40px;
        height: 40px;
    }

    #create .col-2 .row {
        align-items: center !important;
    }

    #create #selections {
        width: 125px;
    }

    #create p {
        font-size: .5em;
    }

    #name input::placeholder {
        font-size: 0em;
    }
}

/* Character Select */
#characters hr {
    margin: 0;
    border: 0;
    width: 50%;
    border-top: 3px solid #000000;
}

#characters ul, #characters li {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

#characters a {
    text-decoration: none;
    color: black;
}

#characters a li {
    transform-origin: left center;
}

#characters a li:hover {
    color: #5e5e5e;
    transform: scale(1.1);
}

#characters #create a {
    color: grey;
}

#characters #create a:hover {
    color: rgb(226, 226, 226);
}

@media (max-width: 768px) {
    #characters hr {
        width: 75%;
    }
}